$medium: 200px;
@import 'libs/reset.scss';
@import 'libs/functions.scss';
@import 'libs/mixins.scss';
@import 'libs/responsive.scss';

$primary: 10px 10px;
$padding: 20px;

html, body {
    font-size: 16px;
}

body {
    padding: $padding + 10px;
    background: #CCC;
    font-family: sans-serif;
}

p {
    margin: 1rem;
}

.table {
    width: 100%;

    td {
        border: 1px solid #CCC;
    }

    thead {
        background: black;
    }
}

%btn {
    border-radius: 3px;
    padding: rem(5, 16) rem(12);
}

.btn {
    @extend %btn;
    text-decoration: none;
    background: rgb(131, 131, 255);
    color: #fff;
    margin: 0 1px 0 1px;

    &:hover {
        background: blue
    }
}

.btn-danger {
    @extend .btn;
    
    background: rgb(252, 44, 44);

    &:hover {
        background: rgb(255, 79, 79)
    }
}

%shadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.card {
    @extend %shadow;
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    // @include rotate(90deg);
    // @include transform(rotage(40deg))
    position: relative;
    @include triangle($color: green, $size: 15px);
}


.card-action {
    @extend .btn;
}

.card-cancel {
    @extend .btn-danger
}

.card-actions {
    display: flex;
}

@media #{$medium-up}{
    .btn {
        width: 100%;
    }
}